<div class='container'>
  <ul class='nav'>
    <li class='nav-item'>
      <%= link_to t('.my_sheets'), character_sheets_profile_path, class: "flex-sm-fill text-sm-center nav-link #{active_for(['profiles#character_sheets'])}" %>
    </li>

    <li class='nav-item'>
      <%= link_to t('.settings'), edit_user_registration_path, class: "flex-sm-fill text-sm-center nav-link #{active_for(['registrations#edit'])}" %>
    </li>
  </ul>
</div>
