<div class='container'>
  <div class='row'>
    <div class='col'>
      <nav class="nav flex-column flex-sm-row">
        <%= link_to 'Character Sheets', character_sheets_profile_path, class: 'flex-sm-fill text-sm-center nav-link active' %>
        <%= link_to 'Settings', edit_user_registration_path, class: 'flex-sm-fill text-sm-center nav-link' %>
      </nav>
    </div>
  </div>
</div>
