<%= render 'profile_navbar' %>

<div class='container'>
  <div class='row'>
    <div class='col'>
      <hr class='my-5' />

      <div class='row'>
        <div class='col-6'>
          <section class='text-muted'>
            Hello there! This is a page where you can see all your characters.
            <p>Want to <ins class='text-success'>create one</ins>? Start by clicking a button to the right and then choose desired game system.
          </section>
        </div>

        <div class='col-6 text-right align-self-center'>
          <%= link_to new_character_sheet_path, class: 'btn btn-success' do %>
            <%= fa_icon 'plus', text: t('.new_character_sheet') %>
          <% end %>
        </div>
      </div>

      <hr class='my-5' />
    </div>
  </div>

  <%= render @character_sheets %>
</div>
