<fieldset id='advantages' class='form-group row'>
  <legend><%= t('.advantages') %></legend>
    <div class='col-12'>

      <% 0.upto(11) do |i| %>
        <div class='row'>
          <div class='col-8 col-md-8 col-lg-8'>
            <p><%= sheet.send(:"advantages_#{i}")%></p>
          </div>

          <div class='col-4 col-md-4 col-lg-4'>
            <p><%= sheet.send(:"advcost_#{i}")%></p>
          </div>
        </div>
      <% end %>

    </div>
</fieldset>
