<fieldset id='notes' class='form-group row'>
  <legend><%= t('.notes') %></legend>
    <div class='col-12'>

      <% 0.upto(8) do |i| %>
        <% if sheet.send(:"characternotes_#{i}").present? %>
          <div class='row'>
            <div class='col-12'>
              <p><%= sheet.send(:"characternotes_#{i}") %></p>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
</fieldset>
