<fieldset id='tl' class='form-group row'>
  <legend><%= t('.tl') %></legend>
    <div class='col-12'>

      <div class='row'>
        <div class='col-12 col-md-7 col-lg-5'>
          <div class='row'>
            <div class='col-2'>
              <p class='font-weight-bold'>TL</p>
            </div>

            <div class='col-5'>
              <p><%= sheet.drfoot %></p>
            </div>

            <div class='col-5'>
              <p title="<%= t('.tlcost') %>" data-toggle='tooltip' data-placement='left'><%= sheet.tlcost %></p>
            </div>
          </div>
        </div>
      </div>

    </div>
</fieldset>
