<%= render 'profiles/profile_navbar' %>

<div class='container'>
  <div class='row'>
    <div class='col'>
      <hr class='my-5' />

      <div class='row'>
        <div class='col-6'>
          <section class='text-muted'>
            Here you can updated your profile
          </section>
        </div>
      </div>

      <hr class='my-5' />
    </div>
  </div>

  <%= render 'form' %>
</div>

