<%= render 'profiles/profile_navbar' %>

<div class='container'>
  <div class='row'>
    <div class='col'>
      <hr class='my-5' />

      <div class='row'>
        <div class='col-6'>
          <section class='text-muted'>
            Here you can update your profile information.
            <p>
            Please note that in order to make any changes <ins class='text-warning'>you will need to enter your current password</ins> for additional security (you would like to ensure you are you, right?)
            </p>
          </section>
        </div>

        <div class='col-6'>
          <section class='text-muted'>
            If you wish to <ins class='text-danger'>permanently remove your account with all your data</ins> just click Cancel my Account button down below. This action cannot be undone.
          </section>
        </div>
      </div>

      <hr class='my-5' />
    </div>
  </div>

  <%= render 'form' %>
</div>

