<fieldset id='cultural_familiarities' class='form-group row'>
  <legend><%= t('.cultural_familiarities') %></legend>
    <div class='col-12'>

      <% 0.upto(2) do |i| %>
        <div class='row'>
          <div class='col-8 col-md-8 col-lg-8'>
            <div class='form-group'>
              <%= f.text_field "cultfam_#{i}".to_sym, class: 'form-control', placeholder: t('.cultfam') %>
            </div>
          </div>

          <div class='col-4 col-md-4 col-lg-4'>
            <div class='form-group'>
              <%= f.text_field "cfcost_#{i}".to_sym, class: 'form-control', placeholder: t('.cfcost'), title: t('.cfcost'), data: {toggle: 'tooltip', placement: 'left'} %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
</fieldset>
