<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2 class='page-summary'>What is this project about?</h2>
      <p>
      <h4>Short Story</h4>
      <p>Character Sheets is the online storage and tool for managing pen-and-paper roleplaying characters. It has an ability to export your characters in nicely formatted character sheets (PDF format) for later use during game sessions. This project was created by GM for GMs and players.</p>

      <h4>Long Story</h4>
      Years of running different games proved players to have been leaving their character sheets somewhere. Sometimes, when I (or my fellow GMs) run games one or several players turned out to forget to take their character sheets, especially it happens with newcommers. This can be a bottleneck for your game, especially when you use some heavy rules systems like D&D or GURPS, where numbers really matter. In such case you start looking for player's sheet somewhere in your docs or ... maybe in a cloud or ... probably somewhere in your common chat ... well, shit, it isn't there. Character Sheets are intended to solve this problem. Please give it a try, I hope you will like it as much as I do <3
      </p>
    </div>
  </div>
</div>
