<div class='container'>
  <div class='row'>
    <div class='col'>
      <h3 class='page-summary'>FAQs</h3>

      <h5>Is it yet another character generator?</h5>
      <p>No. You cannot "generate" character here as you would expect from any automatic generator. There are plenty of them outhere.</p>

      <h5>Is it free for use?</h5>
      <p>Yes. Totally free.</p>

      <h5>Who runs this project?</h5>
      <p>My name is Boris. I'm a passionate fulltime software engineer, diver, MTB biker, traveler and a GM. I like making something useful for people and Character Sheets is my contribution to roleplaying community.</p>

      <h5>So finally, what is it for?</h5>
      <p>Basically, for nicely creating character sheets in different game systems. And for having these character sheets later whenever you need them. That's it.</p>
      
      <h5>How can I use it?</h5>
      <p>If you are first time here and you are not registered you will be put to a landing page where you will be able to create character sheet, just select a game system and fill in necessary fields (like you do with any offline character sheet). After that your sheet will be exported to PDF. Print it, store it, do what you want. Simple right?<br />
      If you are registered you will be able to store character sheets in your personal profile and have them later, whenever you want. So go ahead and register :)</p>
    </div>
  </div>
</div>
