<div class='container'>
  <div class='row'>
    <div class='col'>
      <h3 class='page-summary'>FAQs</h3>

      <h5>Is it yet another character generator?</h5>
      <p>No. You cannot "generate" character here as you would expect from any generator you met before. There are plenty of them in the web.</p>

      <h5>What is it for?</h5>
      <p>You can consider this site as a centralized personal storage for your roleplaying characters. Go ahead and create one!</p>

      <h5>Is it free to use?</h5>
      <p>Yes. Totally free.</p>

      <h5>Who runs this project?</h5>
      <p>My name is Boris. I'm a passionate fulltime software engineer, diver, MTB biker, traveler and a GM. Having all those activities strongly helps me in getting new ideas for my life. Once I decided to make my (and my friends) GM lifes a bit easier with a help of having character sheets always prepared for a game. Thus Character Sheets project was born. And now I try to invest as much free time as I can to develop it. Hope this will help you too (good gamers and GMs) in running your awesome games.</p>

      <h5>How can I use it?</h5>
      <p>If you are first time here and you are not registered you will be put to a landing page where you will be able to create character sheet by selecting appropriate game system. After you filled in all necessary fields your sheet will be exported to PDF. Print it, store it, do what you want. Simple right?<br />
      If you are registered you will have pretty same procedure, but along with that you will be able to store your sheets in personal profile. So go ahead and give it a try!</p>
    </div>
  </div>
</div>
