<div class='container flex-container'>
  <div class='row flex-items-xs-middle'>
    <div class='col-md'>
      <%= image_tag('fate-logo.png', class: 'img-thumbnail', size: '300x300') %>
    </div>

    <div class='col-md'>
      <%= image_tag('fate-logo.png', class: 'img-thumbnail', size: '300x300') %>
    </div>
  </div>
</div>
