<div id='available-games' class='container'>
  <div class='row flex-items-xs-middle'>
    <div class='col-sm col-md col-lg'>
      <%= image_tag('fate-logo.png', class: 'img-thumbnail', size: '300x300') %>
    </div>

    <div class='col-sm col-md col-lg'>
      <%= image_tag('fate-logo.png', class: 'img-thumbnail', size: '300x300') %>
    </div>
  </div>
</div>
