<div class='row p-3 character-sheet-row'>
  <div class='col'>
    <%= hero_quest.character_name %>
  </div>

  <div class='col-3'>
    <%= hero_quest.class::HUMAN_SYSTEM_NAME %>
  </div>

  <%= render 'character_sheets/actions', object: hero_quest %>
</div>
