<div class='row p-3 character-sheet-row'>
  <div class='col'>
    <%= fate_core.name %>
  </div>

  <div class='col-3'>
    <%= fate_core.class::HUMAN_SYSTEM_NAME %>
  </div>

  <%= render 'character_sheets/actions', object: fate_core %>
</div>
