<div class='available-systems'>
  <div class='row justify-content-md-center'>
    <div class='col-lg-4 text-center'>
      <h2 class='choose-wisely'>Choose wisely!</h2>
    </div>
  </div>

  <div class='row align-items-center text-center logos'>
    <%= render 'new_systems' %>
  </div>
</div>
