// $enable-flex: true;

// Colors
$black: #000;
$white: #fff;
$dark-grey: #535f61;
$grey: #555;
$placeholder-opacity: 0.5;

$light-grey: #e0dfdf;
$super-light-grey: #F5F5F5;

$green: #4CAF50;
$light-green: #d5f1d6;

$moray: #238087;

$light-red: #ffebea;
