.fate-id {
  padding-left: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  display: block;
  margin-bottom: 1rem;
  color: white;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.mild::before, .mild2::before, .moderate::before, .severe::before {
  display: block;
  content: '2';
  font-weight: bold;
  font-size: 1.5rem;
  left: 8px;
  position: absolute;
}

.mild2::before {
  opacity: 0.3;
}

.moderate::before {
  content: '4';
}

.severe::before {
  content: '6';
}

.mild-show::before, .mild2-show::before, .moderate-show::before, .severe-show::before {
  display: block;
  content: '2';
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  top: -10px;
}

.mild2-show::before {
  opacity: 0.3;
}

.moderate-show::before {
  content: '4';
}

.severe-show::before {
  content: '6';
}

.fate-label {
  font-weight: bold;
  color: $light-grey;
}
