// Fate styled bars with corners
.fate-id {
  padding-left: 1rem;
  padding-top: 2px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: black;
  display: block;
  margin-bottom: 1rem;
  color: white;
  overflow: hidden;
}

.fate-id::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  border-style: solid;
  border-width: 12px 1rem 0 0;
  border-color: $white transparent transparent transparent;
  display: block;
  width: 0;
}

.fate-id::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 15px;
  border-style: solid;
  border-width: 0 0 12px 1rem;
  border-color: transparent transparent $white transparent;
  display: block;
  width: 0;
}

// END Fate styled bars

.mild::before, .mild2::before, .moderate::before, .severe::before {
  display: block;
  content: '2';
  font-weight: 900;
  font-size: 1.5rem;
  left: 8px;
  position: absolute;
}

.mild2::before {
  opacity: 0.3;
}

.moderate::before {
  content: '4';
}

.severe::before {
  content: '6';
}

.mild-show::before, .mild2-show::before, .moderate-show::before, .severe-show::before {
  display: block;
  content: '2';
  font-weight: 900;
  font-size: 1.5rem;
  position: absolute;
  top: -10px;
}

.mild2-show::before {
  opacity: 0.3;
}

.moderate-show::before {
  content: '4';
}

.severe-show::before {
  content: '6';
}

.fate-label {
  font-weight: 900;
  color: $light-grey;
}
