.available-systems {
  // Hack for Safari to center content vertically
  // height: 100%;
  -webkit-flex: 2;
  flex: 2;

  font-weight: 100;

  .logos {
    min-height: 250px;
  }
}

.logo-image, .choose-wisely {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 3rem;
  font-weight: 900;
}

.choose-wisely {
  font-style: normal;
  font-weight: 900;
}

.logo-description {
  font-weight: 400;
}

.circle-button {
  color: $light-grey;
  display: inline-block;
  border: 1px solid;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100px;
  top: 37px;
  position: relative;
  background-color: white;

  i.fa-lg {
    line-height: 0.98em;
    vertical-align: -70%;
  }
}

.tips {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
