.notifications {
  position: absolute;
  width: 100%;
  top: 0;

  section {
    min-height: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    span {
      z-index: 1;
      display: inline-block;
    }
  }
}
