<div class='container'>
  <div class='row'>
    <div class='site-info col-xs-12 col-sm-12 col-md-8 col-lg-8'>
      <h3>Character Sheets</h3>
      <p>2017 Character Sheets | Online processor and storage for your characters.</p>
      <p>
        <small>
          Fate™ is a trademark of Evil Hat Productions, LLC. The Powered by Fate logo is © Evil Hat Productions, LLC and is used with permission.<br />
          The Fate Core font is &copy; Evil Hat Productions, LLC and is used with permission. The Four Actions icons were designed by Jeremy Keller.
        </small>
      </p>

      <p>
        <small>
          <a href="http://www.sjgames.com/gurps/"><b><i>GURPS</i></b></a> is a registered trademark of Steve Jackson Games, and the art here is copyrighted by Steve Jackson Games. All rights are reserved by SJ Games. This material is used here in accordance with the SJ Games <a href="http://www.sjgames.com/general/online_policy.html">online policy</a>.
          GURPS is a trademark of Steve Jackson Games, and its rules and art are copyrighted by Steve Jackson Games. All rights are reserved by Steve Jackson Games. This game aid is the original creation of Character Sheets project and is released for free distribution, and not for resale, under the permissions granted in the <a href="http://www.sjgames.com/general/online_policy.html">Steve Jackson Games Online Policy</a>.
        </small>
      </p>

      <p>
        <small>
          This website uses trademarks and/or copyrights owned by Moon Design Publications LLC, which are used under Moon Design Publications’s Fan Material Policy. We are expressly prohibited from charging you to use or access this content. This website is not published, endorsed, or specifically approved by Moon Design Publishing. For more information about Moon Design Publications and Moon Design Publications products, please visit glorantha.com.
        </small>
      </p>

      <p>
        <small>
          Copyright (c) 2017 Character Sheets
        </small>
      </p>

      <p>
        <small>
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </small>
      </p>

    </div>

    <div class='site-links col-xs-6 col-sm-6 col-md-2 col-lg-2'>
      <ul>
        <li class='header'>Resources</li>
        <li><%= link_to t('.about'), general_about_path %></li>
        <li><%= link_to t('.faq'), general_faq_path %></li>
      </ul>
    </div>

    <div class='community col-xs-6 col-sm-6 col-md-2 col-lg-2'>
      <ul>
        <li class='header'>Community</li>
        <li>
          <%= link_to 'https://plus.google.com/communities/101463498287744714809', target: '_blank' do %>
            <i class='fa fa-google-plus-official fa-2x'></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
