<nav class='navbar'>
  <div class='container'>
    <div class='row'>
      <div class='col-3'>
        <%= link_to 'Character Sheets', root_path %>
      </div>

      <div class='col-9'>
        <ul class='nav navbar-nav mr-auto text-right'>
          <li class='nav-item'>
            <%= link_to 'Sign In', 'void(0);', class: 'nav-link hvr-underline-from-left' %>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
