<nav class='navbar'>
  <div class='container'>
    <div class='row'>
      <div class='col-3'>
        <%= link_to 'Character Sheets', root_path %>
      </div>

      <div class='col-9'>
        <ul class='nav navbar-nav mr-auto text-right'>
          <li class='nav-item'>
            <% if user_signed_in? %>
              <%= link_to 'Profile', root_path, class: 'nav-link hvr-underline-from-left' %>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link hvr-underline-from-left' %>
            <% else %>
              <%= link_to 'Sign In', new_user_session_path, class: 'nav-link hvr-underline-from-left' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
