<div class='container-fluid'>
  <div class='row justify-content-center notifications'>
    <div class='col text-center'>
      <% if alert %>
        <section class='border-1 rounded border-danger text-danger'><span><%= alert %></span></section>
      <% end %>

      <% if notice %>
        <section class='border-1 rounded border-success text-success'><span><%= notice%></span></section>
      <% end %>
    </div>
  </div>
</div>
