<div class='container'>
  <div class='row'>
    <div class='col text-center'>
      <h1 class='display-1 page-summary'>400</h1>
      <p>
        <h4>Oops, you are trying to do something malicious!</h4>
      </p>

      <p><%= link_to 'Turn around', root_path %>
    </div>
  </div>
</div>
