<div class='container'>
  <div class='row'>
    <div class='col text-center'>
      <h1 class='display-1 page-summary'>404</h1>
      <p>
        <h4>Oops, this is not the page you are looking for fellow traveler.</h4>
      </p>

      <p><%= link_to 'Turn around', root_path %>
    </div>
  </div>
</div>
